/* #region css reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* #endregion */

form {
/*   max-width: 900px;
  min-width: 100%; */
  /* min-width: calc(30% + 100px); */
  text-align: center;
  margin: 10px auto;
  color:  black;
  /* background-color:  #444; */
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: .5em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 2px 2px 7px #776477 a!important;
  -webkit-box-shadow: 2px 2px 7px #776477 !important; 
  box-shadow: 2px 2px 7px #776477 !important;
}
form .input-submit {
  color: white;
  background: #84b000;
  cursor: pointer;
}
form .input-submit:hover {
  -moz-box-shadow: 0 1px 1px 3px rgba(170, 170, 170, 0.2);
  -webkit-box-shadow: 0 1px 1px 3px rgba(170, 170, 170, 0.2);
  box-shadow: 0 1px 1px 3px rgba(170, 170, 170, 0.2);
}
form textarea {
  height: 126px;
}

 body {
	margin: 0;
	/* background: #222; */
	font-family: sans-serif;
	font-weight: 300;
	max-height: ;
}

header {
	background: #FFFFFF;
}

header::after { 
	content: '';
	display: table;
	clear: both;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 20px;

	position: relative;
}

nav ul li a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}

nav ul li a:hover {
	color: purple;
}

nav ul li a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: green;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav ul li a:hover::before {
	width: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
	align-items: stretch;
}

.logo {
	float: left;
	padding: 15px 0;
}

.flex-container {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
  text-align: center;
	align-items: center | stretch;
	background: #EEE;
	padding: 100px;
	height: 60vh;
	margin-top: 35px;
	margin-right: 35px;
	margin-left: 35px;
	margin-bottom: 35px;

}

.flex-child {
	/* flex-grow: 1; */ 
	align-self: center | stretch;
  margin: 0;
  /* width:fit-content; */
	margin-left: 27%;
	margin-right: 25%;

	/* max-width: 800px; */
	/* background-color: #111; */
}

.center-box {
	background: #4c4c4c;
	padding: 100px;
	height: 870px;
	margin-top: 35px;
	margin-right: 35px;
	margin-left: 35px;
	margin-bottom: 35px;
}

.checkbox-header h1 {
    padding-bottom: 10px;
    font-size: 20px;
    color: black;
}
.table-header {
    padding: 15px;
    text-align: center;
    display: inline-block;
    color: black;
    font-size: 24px;
    text-decoration: underline;
}

.checkbox-background {
    /* overflow: scroll; */
  background: white;
  width:fit-content;
}

.checkbox-table th {
    font-size: 20px;
    padding:  10px;
    position: relative;
/*     border-right: 2px dashed #eee; */
}

.checkbox-table td, .checkbox-table tr {
    padding:  10px;
    text-align: left; 
    vertical-align: middle;
    border-bottom: 2px solid #eee;
    border-right: px dashed #eee;
}





/* for landing page */
.text-wrapper {
	/* background-color: white; */
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.7s cubic-bezier(0.16, 0.2, 0.38, 0.98);
}

.welcome {
  font-size: 2rem;
  color: rgba(175, 100, 175, 0.842);
  position: absolute;
  width: 90%;
  transition: inherit;
}

.header {
  position: relative;
  font-weight: 600;
  font-size: 5rem;
  transition: inherit;
}
.header::first-letter {
  font-size: 6.7rem;
}

.description {
  width: 600px;
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 2.1rem;
  transition: inherit;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  height: 5rem;
  line-height: 4.6rem;
  transition: inherit;
}

.menu-button {
  color: #000;
  border: solid;
  border-width: 1px;
  border-color: #003d00;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in;
  position: relative;
}
.menu-button:before {
  content: '';
  background: #776477;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  margin: 00px;
  transition: inherit;
}
.menu-button:hover {
  border-color: #fff;
  color: #fff;
}
.menu-button:hover:before {
  opacity: 1;
  margin: 0;
}

.middle-element {
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
}





/* form {
  text-align: center;
  margin: 10px auto;
  color:  black;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: .5em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 2px 2px 7px #776477 a!important;
  -webkit-box-shadow: 2px 2px 7px #776477 !important; 
  box-shadow: 2px 2px 7px #776477 !important;
}
form .input-submit {
  color: white;
  background: #84b000;
  cursor: pointer;
}
form .input-submit:hover {
  -moz-box-shadow: 0 1px 1px 3px rgba(170, 170, 170, 0.2);
  -webkit-box-shadow: 0 1px 1px 3px rgba(170, 170, 170, 0.2);
  box-shadow: 0 1px 1px 3px rgba(170, 170, 170, 0.2);
}
form textarea {
  height: 126px;
} */

/* for collapsing add playlist */
.collapsible {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: .5em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: white;
  background: #84b000;
  cursor: pointer;
}
 

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
    -moz-box-shadow: 0 1px 1px 3px rgba(170, 170, 170, 0.2);
  -webkit-box-shadow: 0 1px 1px 3px rgba(170, 170, 170, 0.2);
  box-shadow: 0 1px 1px 3px rgba(170, 170, 170, 0.2);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  /* overflow: hidden; */
  background-color: #f1f1f1;
}


/* 
#playlist-table {
  margin-left: 200px; 
}
 */


.side-tables {
  /* width: 100%; */
  margin-left: 40%; 
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center | stretch;
}